$primaryColor: #fdc300;
// $primaryColor: #497db0;
$secondaryColor: #fdaf00;
// $secondaryColor: #1f64b8;
/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-700.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/roboto-v20-latin/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/roboto-v20-latin/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-v20-latin/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/roboto-v20-latin/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* oleo-script-regular - latin */
@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/oleo-script-v8-latin/oleo-script-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Oleo Script'), local('OleoScript-Regular'),
        url('assets/fonts/oleo-script-v8-latin/oleo-script-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('assets/fonts/oleo-script-v8-latin/oleo-script-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('assets/fonts/oleo-script-v8-latin/oleo-script-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('assets/fonts/oleo-script-v8-latin/oleo-script-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('assets/fonts/oleo-script-v8-latin/oleo-script-v8-latin-regular.svg#OleoScript') format('svg'); /* Legacy iOS */
}

body {
    min-height: 100vh;
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(assets/img/bg01.png);
    background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(assets/img/bg01.png);
    background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(assets/img/bg01.png);
    background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(assets/img/bg01.png);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url(assets/img/bg01.png);
}

#root {
    min-height: 100vh;

    & > div {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    & > .notification-container {
        min-height: auto;
    }
}

a,
a:visited {
    color: initial;
}

.datePicker {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -15px !important;

    label {
        color: #aaaaaa !important;
    }
}

.MuiInput-underline:not(.Mui-error):after {
    border-color: $primaryColor !important;
}

.MuiInput-underline:not(.Mui-disabled):before {
    border-bottom: 1px solid #d2d2d2 !important;
}

.MuiFormLabel-root {
    font-size: 14px !important;
}

.MuiPickersDay-current {
    background-color: transparent !important;
}

.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
    background-color: $primaryColor !important;
}

.autocomplete-dropdown-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    color: black;
    padding: 5px 10px;
    font-size: 13px;
}

.places > .MuiFormControl-root.CustomInput-formControl-277.MuiFormControl-fullWidth {
    margin-bottom: 0;
}

span.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary {
    padding: 0 10px;
}

span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 > p {
    margin: 0;
}

.react-tagsinput-tag {
    background-color: #f8c34695;
    border-radius: 2px;
    border: 1px solid #d3a335ad;
    color: #3a3a3a;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 1px 6px 1px 10px;
}

.react-tagsinput {
    position: relative;
    border: 1px solid rgba(0,0,0,.1) !important;
    transition: all linear .3s;
    overflow: visible;
}

.react-tagsinput--focused {
    border: 1px solid rgba(0,0,0,.2) !important;
}

.react-tagsinput-remove {
    margin-left: 10px;
}

.react-autosuggest__container {
    display: inline-block;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    z-index: 99;
    background-color: white;
    max-height: 200px;
    overflow: visible;
    overflow-y: scroll;
}

.react-autosuggest__suggestions-list {
    border: 1px solid rgba(0,0,0,.1) !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

.react-autosuggest__suggestions-list li {
    min-height: 30px;
    padding: 5px 10px;
    transition: all linear .1s;
}

.react-autosuggest__suggestions-list li:hover {
    background: #f8c34695;
    cursor: pointer;
}

.statistics__user {
    & span {
        margin-right: 5px;
    }
}

  .MuiCheckbox-colorSecondary.Mui-checked, .MuiPickersDay-current {
      color: $secondaryColor !important;
  }

  .MuiPickerDTTabs-tabs,
  .MuiPickersClock-pin,
  .MuiPickersClockPointer-pointer,
  .MuiPickersClockNumber-clockNumberSelected,
  .MuiPickersClockPointer-noPoint {
      border-top: 1px solid white;
    background: $secondaryColor !important;
  }

  .MuiPickersClockPointer-noPoint, .MuiPickersClockPointer-thumb {
    border-color: $secondaryColor !important;
  }

@import '~loaders.css/src/animations/ball-pulse.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.rce-mbox {
    max-width: 90%;
}

.rce-mbox-body {
    min-width: 160px;
    padding-bottom: 10px;
}

.rce-mbox-time {
    bottom: -10px;
}

.rce-mbox-photo {
    max-width: 300px;
}

.rce-mbox-photo .rce-mbox-text {
    margin-left: 10px;
}

.rce-mbox-time-block {
    bottom: -5px;
    background: none;
    color: rgba(0,0,0,.45);
}

.rce-mbox-status {
    margin-left: 10px;
}

.rce-avatar-letter {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 500;
}

.rce-mbox-photo--download > svg {
    margin-top: 20px;
}

.rce-mbox-photo--img img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.rce-mbox-photo--img__block {
    display: none;
}

aside.emoji-picker-react {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.skin-tones-list {
    display: none;
}

.user-changes {
    list-style: none;
    padding-left: 20px;
    min-width: 60vw;
    max-height: 300px;
    overflow-y: scroll;

    & > li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        & > div {
            display: flex;

            &:first-child {
                width: 35%;
            }

            &:last-child {
                width: 20%;
            }

            width: 45%;

            & > span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                align-items: center;
            }

            & > svg {
                margin-right: 10px;
            }
        }
    }
}

.MuiTabs-indicator {
    background-color: $primaryColor !important;
}

.MuiTab-labelIcon {
    min-height: 24px !important;
}

.MuiTab-wrapper {
    flex-direction: row !important;
    gap: 5px;
    align-items: center;
}

.MuiTab-textColorInherit {
    opacity: 1 !important;
    font-size: .7em !important;
}

.MuiTabs-indicator {
    display: none !important;
}

.MuiTab-root {
    min-width: auto !important;
}

.scrollContainer {
    overflow-y: auto;

    @media print {
        overflow-y: visible !important;
    }
}

.showPrint {
    display: none;

    @media print {
        display: block !important;
    }
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
        width: 210mm;
        height: 297mm;
    }
}

.MuiTabs-root {
    min-height: 43px !important;
}

.MuiTabs-flexContainer {
    flex-wrap: wrap;
}

.MuiTabs-scrollable {
    display: flex !important;
    justify-content: flex-end;
}

.MuiTab-root {
    @media screen and (max-width: 768px) {
        flex-grow: 1 !important;
    }
}

.quill {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ql-container {
    min-height: 200px;
}

.fileupload {
    margin-top: 5px;
    border: 2px dashed #888;
    text-align: center;
    color: #888;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & > div {
        min-height: 200px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.fileuploaded {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,.05);
    border-radius: 3px;
    margin-top: 5px;

    span {
        font-weight: 500;
    }

    & > svg {
        fill: rgb(199, 0, 0);
        cursor: pointer;

        &:hover {
            filter: brightness(120%);
        }
    }
}

.card {
    position: relative;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    padding: 10px 15px;
    margin: 10px 0;
}

.message {
    display: grid;
    grid-template-columns: minmax(60%, 1fr) minmax(40%, 1fr);
    column-gap: 1em;

    img {
        max-width: 100%;
    }
}

.message h1 {
    margin: 0;
    font-size: 1.8em;
    line-height: 60px;
}

.message > div:first-child .card {
    padding: 1em 2em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
