.rights {
    margin-bottom: 30px;
    .rights__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // min-height: 37px;

        & > div:last-child {
            display: flex;
            justify-content: space-between;
            min-width: 495px;
        }

        span {
            display: block;
            background: #dbdbdb;
            padding: 5px 20px;
            width: 117px;
            text-align: center;
            color: #444;
            border: 1px solid rgba(0,0,0,.1);
            padding: 5px 20px;
            background: #c5c5c5;
            align-items: center;
            margin-right: 5px;
            border-bottom: 0;
            border-radius: 3px 3px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .rights__right {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background: white;
        padding: 5px 0 5px 10px;
        border: 1px solid #c5c5c5;

        & > div:last-child {
            display: flex;
            justify-content: space-between;
            min-width: 495px;

            & > span {
                display: block;
                width: 120px;
                text-align: center;
            }
        }
    }
}
